<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
<html>

<head>

<title>{{city_name}} Weather data </title>

</head>

<body>

    <div class="container" align="center">
        <div class="col-md-12">
            <div class="wrap">

                {% if city_name %}
                    <h2>{{city_name}} weather data </h2>
                {% else %}
                    <h2>Please choose a city first</h2>
                {% endif %}


                {% if currentweather %}
                    <p> Current weather: {{currentweather}}</p>
                {% else %}
                    <p>No weather data at this point</p>
                {% endif %}


                {% if currenttemp %}
                    <p>Current temperature: {{currenttemp}}</p>
                {% else %}
                    <p>No temperature data at this point</p>
                {% endif %}


                {% if uv2016 %}

                    <p> UV Index value 2016: {{uv2016}} </p>

                        {% if uv2016 < "3" %}
                            <p> Low risk </p>
                        {% endif %}

                        {% if uv2016 < "6" and uv2016 > "3" %}
                            <p> Moderate risk </p>
                        {% endif %}

                        {% if uv2016 < "8" and uv2016 > "6" %}
                            <p> High risk </p>
                        {% endif %}

                        {% if uv2016 > "8" %}
                            <p> Very high risk </p>
                        {% endif %}

                {% endif %}


                {% if uv2017 %}
                    <p> UV Index value 2017 {{uv2017}} </p>

                        {% if uv2017 < "3" %}
                            <p> Low risk </p>
                        {% endif %}

                        {% if uv2017 < "6" and uv2017 > "3" %}
                            <p> Moderate risk </p>
                        {% endif %}

                        {% if uv2017 < "8" and uv2017 > "6" %}
                            <p> High risk </p>
                        {% endif %}

                        {% if uv2017 > "8" %}
                            <p> Very high risk </p>
                        {% endif %}

                {% endif %}


                {% if city_name %}

                    <form action="/">
                        <input type="submit" class="button" value="Choose another city" />
                    </form>

                {% else %}

                    <form action="/">
                        <input type="submit" class="button" value="Choose a city" />
                    </form>

                {% endif %}


            </div>
        </div>
    </div>

</body>

</html>